.mechounter {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
.mechounter:after {
  content: ".";
  display: inline-block;
  visibility: hidden;
  width: 0;
  font-size: 100%;
  vertical-align: middle;
}

.mechounter > .mechounter-digit{
  position: relative;
  vertical-align: middle;
}
.mechounter > .mechounter-digit > .mechounter-rect{
  visibility: hidden;
}

.mechounter > .mechounter-digit > .mechounter-card {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
}
